<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Invalid Entry</title>
</head>
<body style="background-blend-mode: color; background-color: #1b1b1b">
<div style="text-align: center">
{% load static %}
<img src="{% static "EvalFormFiller/img/valid.png" %}" style="height:560px; padding: 0; horiz-align: center">
</div>
<div style="text-align: center; color: #a9e6e1">
<h4>Your Submission has been successfully received!</h4>
<h4>Speed of program depends on load, so kindly wait patiently while watching <i>Mushoku Tensei</i></h4>
</div>
</body>
</html>
